<!DOCTYPE HTML>
<html>
<head>
    <title>Community Health</title>


	<!-- CSS -->
	<link rel="stylesheet" href="../static/css/custom.css" />
    <link rel="stylesheet" href="../static/leaflet-0.7.3/leaflet.css" />
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">

    <!-- JAVASCRIPT LIBS -->
    <script type="text/javascript" src="../static/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="../static/js/socket.io.min.js"></script>
    <script type="text/javascript" src="../static/leaflet-0.7.3/leaflet.js"></script>
    <script type="text/javascript" src="../static/bootstrap/js/bootstrap.min.js"></script>

    <!-- Custom colour ramp for styling the routes
    <script type="text/javascript" src="../static/js/custom.js"></script>
    -->

	<!-- Custom tilelayer to do greyscale. From: https://github.com/Zverik/leaflet-grayscale/blob/master/TileLayer.Grayscale.js -->
    <script type="text/javascript" src="../static/js/TileLayer.Greyscale.js"></script>

</head>

<body>

	<div class="container-fluid">

		<div class="row-fluid">
			<h2>Tesco Community Health</h2>
			</br>

		</div>
		</br>
		<div class="row-fluid">
    		<div class="span3">
				<h4>Leaderboard:</h4>
				<div id="log"></div>
				<div class="bs-example">
				    <div class="table-responsive">
				        <table class="table table-bordered">
				            <thead>
				                <tr>
				                    <th>Borough</th>
				                    <th>Community Health Points</th>
				                </tr>
				            </thead>
					            <tbody>
					                {%for row in tableData%}
		                            <tr>
		                                <td>{ row.borough|safe }</td>
		                                <td>{ row.score|safe }</td>
		                            </tr>

	                        		{% endfor %}
					            </tbody>
				        </table>
				    </div>
				</div>
			</div>
			<div class="span9">
				<h4>Map:</h4>
				<div id="map"></div>
			</div>

	     </div> <!-- row -->

     </div>

	<script>

		// Initialise the map
		var map = L.map('map').setView([51.505, -0.09], 13);

		//This is quite a cool tile server
		// http://a.tile.stamen.com/toner/{z}/{x}/{y}.png

		L.tileLayer.grayscale('http://a.tile.openstreetmap.org/{z}/{x}/{y}.png', {
		    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
		    maxZoom: 18
		}).addTo(map);

	</script>



</body>

<!--
<body>
    <h1>Flask-SocketIO Test</h1>

    <button onclick="start_processor()">Start Processor</button>

    <h2>Receive:</h2>
    <div id="log"></div>
	<div id="map"></div>


</body>
-->
</html>
