<!DOCTYPE HTML>
<html>
<head>
    <title>Community Health</title>
    
    <!-- Make me responsive! -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    
	<!-- CSS -->    
	<link rel="stylesheet" href="../static/css/custom.css" />
    <link rel="stylesheet" href="../static/leaflet-0.7.3/leaflet.css" />
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    
    <!-- JAVASCRIPT LIBS -->
    <script type="text/javascript" src="../static/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="../static/js/socket.io.min.js"></script>
    <script type="text/javascript" src="../static/leaflet-0.7.3/leaflet.js"></script>
    <script type="text/javascript" src="../static/bootstrap/js/bootstrap.min.js"></script>
    
    <!-- Custom colour ramp for styling the routes 
    <script type="text/javascript" src="../static/js/custom.js"></script>
    -->
    
	<!-- Custom tilelayer to do greyscale. From: https://github.com/Zverik/leaflet-grayscale/blob/master/TileLayer.Grayscale.js -->
    <script type="text/javascript" src="../static/js/TileLayer.Greyscale.js"></script>    
    
    <script>
	function getBoroughColor(region_type, score) {
		
		if (region_type == 'borough'){
		
			// Green to red and into maroon
			 return score > 3.0 ? '#006400' :
					score > 2.6 ? '#2DA900' :
				 	score > 2.2 ? '#5ABC00' :
					score > 2.0 ? '#9FD800' :
				 	score > 1.8 ? '#CCEB00' :
					score > 1.7 ? '#E3F500' :
								  '#FAFF00' ;
					
					}
			
		else if (region_type == 'county') {
		
			// Green to red and into maroon
			 return score > 1.8  ? '#009600' :
					score > 1.6  ? '#29A700' :
				 	score > 1.5  ? '#53B900' :
					score > 1.4  ? '#7DCA00' :
				 	score > 0.9  ? '#A6DC00' :
					score > 0.6  ? '#D0ED00' :
								   '#FAFF00' ;
			
		}
		
		};
    
    </script>
    
</head>

<body>

	<div class="container-fluid">
		</br>
		<div class="row-fluid">
		</div>
		<div class="row-fluid">
			<div class="span4"><span class="name-part-1"><strong>TES</strong></span><span class="name-part-2"><em>COmmunity Health</em></span></div>
			</br>
			
		</div>
		
		
		</br>
		
		
		<ul class="nav nav-tabs" id="myTab">
		  <li class="active"><a href="#leaders">Community Health Leaders</a></li>
		  <li><a href="#myhealth">My Health</a></li>
		  <li><a href="#projects">Tesco Projects in my Community</a></li>
		</ul>
		
		<div class="tab-content">
		  <div class="tab-pane active" id="leaders">
		  	<div class="row-fluid">
    		<div class="span3">
				<h2> {{ region_type|capitalize}} Leaderboard</h2>
					<div class="row-fluid">
						<div class="span1"><img src="../static/images/sports10.png"></img></div>
						<div class="span11">
							<button class="btn-gold btn-large btn-block" type="button">{{ leaderboard_items[0].name }}</button>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span1"><img src="../static/images/medal5.png"></img></div>
						<div class="span11">
							<button class="btn-silver btn-large btn-block" type="button">{{ leaderboard_items[1].name }}</button>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span1"><img src="../static/images/football158.png"></img></div>
						<div class="span11">
							<button class="btn-bronze btn-large btn-block" type="button">{{ leaderboard_items[2].name }}</button>
						</div>
					</div>
					
					{% for item in leaderboard_items[3:] %}
					<div class="row-fluid">
						<div class="span1"></div>
						<div class="span11">
							<button class="btn btn-large btn-block" type="button">{{ item.name }}</button>
						</div>
					</div>
					{% endfor %}
				            	
				</div>
				
			<div class="span9">
				<h2>Map</h2>
				<div id="map"></div>	
			</div>
    	
	     </div> <!-- row -->
    
     </div>
		  
		  
	  <div class="tab-pane" id="myhealth">
	  
	  	
	  
	  </div>
	
	
	
	  <div class="tab-pane" id="projects">
	  
	  </div>
	
	</div>
		
		

	<script>
	
		
		// Initialise the map
		var map = L.map('map').setView([51.505, -0.09], 13);
		
		//This is quite a cool tile server
		// http://a.tile.stamen.com/toner/{z}/{x}/{y}.png
		
		L.tileLayer.grayscale('http://a.tile.openstreetmap.org/{z}/{x}/{y}.png', {
		    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
		    maxZoom: 18
		}).addTo(map);

		var geojson = {% autoescape off %} {{ geojson_data }} {% endautoescape %};
		var features = geojson.features;
		var region_type = '{{ region_type }}';
		
		geojson = L.geoJson(features, {style :function getRouteStyle(feature) {
										return { color: 'grey',
												 weight: 2,
				 								 opacity: 1.0,
				 								 fillColor: getBoroughColor(region_type, feature.properties.score),
			 								 	 fillOpacity : 0.7
	        									};
   										},
					    onEachFeature: function (feature, layer) {
					        layer.bindPopup('<b>'+feature.properties.NAME_2+': </b>'+feature.properties.score);
					    }
					}
				);
		geojson.addTo(map);
		
		// Add a scale bar
		L.control.scale().addTo(map);

		// Get the bounds of the features and derive the zoom level
		map.fitBounds(geojson.getBounds());
		
	</script>

	<script>
	//var leaders = {% autoescape off %} {{ leaderboard }} {% endautoescape %};	
	
	</script>


</body>

<!-- 
<body>
    <h1>Flask-SocketIO Test</h1>
    
    <button onclick="start_processor()">Start Processor</button>
    
    <h2>Receive:</h2>
    <div id="log"></div>
	<div id="map"></div>

	
</body>
-->
</html>
