<!DOCTYPE HTML>
<html>
<head>
    <title>Community Health</title>
    
    <!-- Make me responsive! -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    
	<!-- CSS -->    
	<link rel="stylesheet" href="../static/css/custom.css" />
    <link rel="stylesheet" href="../static/leaflet-0.7.3/leaflet.css" />
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    
    <!-- JAVASCRIPT LIBS -->
    <script type="text/javascript" src="../static/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="../static/js/socket.io.min.js"></script>
    <script type="text/javascript" src="../static/leaflet-0.7.3/leaflet.js"></script>
    <script type="text/javascript" src="../static/bootstrap/js/bootstrap.min.js"></script>
    
    <!-- Custom colour ramp for styling the routes 
    <script type="text/javascript" src="../static/js/custom.js"></script>
    -->
    
	<!-- Custom tilelayer to do greyscale. From: https://github.com/Zverik/leaflet-grayscale/blob/master/TileLayer.Grayscale.js -->
    <script type="text/javascript" src="../static/js/TileLayer.Greyscale.js"></script>    
    
</head>

<body>

	<div class="container-fluid">

		<div class="row-fluid">
			<div class="span2"><img src="../static/images/tesco-logo.jpg" alt="Tesco" style="padding:10px 10px; height:50px"></div>
			<div class="span4"><h1>Community Health</h1></div>
			</br>
			
		</div>
		</br>
		<div class="row-fluid">
    		<div class="span3">
				<h4>Leaderboard:</h4>
				<div class="table-responsive">
				   <table class="table">
				      <thead>
				         <tr>
				         	{% for fld in leaderboard_flds %}
				            	<th>{{ fld }}</th>
							{% endfor %}
				         </tr>
				      </thead>
				      <tbody>
				         	{% for item in leaderboard_items %}
				            	<tr>
				            	<td>{{ item.name }}</td>
				            	<td>{{ item.score }}</td>
				            	</tr>
							{% endfor %}

				      </tbody>
				   </table>
				</div>  	
				
			</div>
			<div class="span9">
				<h4>Map:</h4>
				<div id="map"></div>	
			</div>
    	
	     </div> <!-- row -->
    
     </div>

	<script>

	function getRouteColor(score) {
		
		// Green to red and into maroon
		 return score > 10000 ? '#00FF00' : 
			 	score > 5000 ? '#80FF00' :
				score > 1000 ? '#FFFF00' :
							   '#FFFFFF' ;
				};
	
	
	function getRouteColor(score) {
		
		// Green to red and into maroon
		 return score > 10000 ? '#00FF00' : 
			 	score > 5000 ? '#80FF00' :
				score > 1000 ? '#FFFF00' :
							   '#FFFFFF' ;
				};
		
		var style = {
				"color": "#ff7800",
			    "weight": 5,
			    "opacity": 0.65
			};
	
		// Initialise the map
		var map = L.map('map').setView([51.505, -0.09], 13);
		
		//This is quite a cool tile server
		// http://a.tile.stamen.com/toner/{z}/{x}/{y}.png
		
		L.tileLayer.grayscale('http://a.tile.openstreetmap.org/{z}/{x}/{y}.png', {
		    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
		    maxZoom: 18
		}).addTo(map);

		var geojson = {% autoescape off %} {{ geojson_data }} {% endautoescape %};
		var features = geojson.features;
		
		geojson = L.geoJson(features, {style :function getRouteStyle(feature) {
										return { color: getRouteColor(feature.properties.HECTARES),
				 								 weight: 5,
				 								 opacity: 0.5
	        									};
   										},
					    onEachFeature: function (feature, layer) {
					        layer.bindPopup('<b>'+feature.properties.name+': </b>'+feature.properties.score);
					    }
					}
				);
		geojson.addTo(map);
		
		// Add a scale bar
		L.control.scale().addTo(map);

		// Get the bounds of the features and derive the zoom level
		map.fitBounds(geojson.getBounds());
	</script>

	<script>
	//var leaders = {% autoescape off %} {{ leaderboard }} {% endautoescape %};	
	
	</script>


</body>

<!-- 
<body>
    <h1>Flask-SocketIO Test</h1>
    
    <button onclick="start_processor()">Start Processor</button>
    
    <h2>Receive:</h2>
    <div id="log"></div>
	<div id="map"></div>

	
</body>
-->
</html>
