

<!DOCTYPE html>
<meta charset="utf-8">

<style>

body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


.x.axis line {
			  stroke: lightgrey;
			}


.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}


</style>
<body>

<script src="http://d3js.org/d3.v2.min.js"></script>


<script>

var margin = {top: 20, right: 20, bottom: 30, left: 50},
    width = 500 - margin.left - margin.right,
    height = 300 - margin.top - margin.bottom;

var x = d3.scale.linear()
    .range([0, width]);

var y = d3.scale.linear()
    .range([height, 0]);

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left");

var demLine = d3.svg.line()
    .x(function(d) { return x(d.rnge); })
    .y(function(d) { return y(d.demZ); });

var flightLine = d3.svg.line()
    .x(function(d) { return x(d.rnge); })
    .y(function(d) { return y(d.flightZ); });

var svg = d3.select("body").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

var data = {{ allOutput|safe }};

var area = d3.svg.area()
    .interpolate("cardinal")
    .x(function (d) { return x(d.rnge); })
    .y0(function (d) { return y(d3.min(data, function(d) { return Math.min(d.demZ, d.flightZ);})) })
    .y1(function (d) { return y(d.demZ); });


x.domain(d3.extent(data, function(d) { return d.rnge; }))
y.domain([d3.min(data, function(d) { return Math.min(d.demZ, d.flightZ); }), d3.max(data, function(d) { return Math.max(d.demZ, d.flightZ); })]);


svg.append("path")
    .datum(data)
    .attr("class", "line")
    <!--.attr("d", function (d) { return area(data); })-->
    <!--.style("stroke", "grey")-->
    <!--.style("fill", "green");-->
    .style("stroke", "green")
    .attr("d", demLine);

svg.append("path")
    .datum(data)
    .attr("class", "line")
    .style("stroke", "red")
    .attr("d", flightLine);


svg.append("g")
    .attr("class", "x axis")
    .attr("transform", "translate(0," + height + ")")
    .call(xAxis)
  .append("text")
    .attr("x", width-margin.right-margin.right-90)
    .attr("dx", ".71em")
    .style("text-anchor", "start")
    .text("Range from Launch (m)");

svg.append("g")
    .attr("class", "y axis")
    .call(yAxis)
  .append("text")
    .attr("transform", "rotate(-90)")
    .attr("y", 6)
    .attr("dy", ".71em")
    .style("text-anchor", "end")
    .text("Height Above Sea Level (m)");

</script>

		</div>
	</div>

</body>

<!--
<body>
    <h1>Flask-SocketIO Test</h1>

    <button onclick="start_processor()">Start Processor</button>

    <h2>Receive:</h2>
    <div id="log"></div>
	<div id="map"></div>


</body>
-->
</html>
