<!DOCTYPE HTML>
<html>
<head>
    <title>Community Health</title>

    <!-- Make me responsive! -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

	<!-- CSS -->
	<link rel="stylesheet" href="../static/css/custom.css" />
    <link rel="stylesheet" href="../static/leaflet-0.7.3/leaflet.css" />
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">

    <!-- JAVASCRIPT LIBS -->
    <script type="text/javascript" src="../static/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="../static/js/socket.io.min.js"></script>
    <script type="text/javascript" src="../static/leaflet-0.7.3/leaflet.js"></script>
    <script type="text/javascript" src="../static/bootstrap/js/bootstrap.min.js"></script>

    <!-- Custom colour ramp for styling the routes
    <script type="text/javascript" src="../static/js/custom.js"></script>
    -->

	<!-- Custom tilelayer to do greyscale. From: https://github.com/Zverik/leaflet-grayscale/blob/master/TileLayer.Grayscale.js -->
    <script type="text/javascript" src="../static/js/TileLayer.Greyscale.js"></script>

    <style>

		.axis path,
		.axis line {
		  fill: none;
		  stroke: #000;
		  shape-rendering: crispEdges;
		}


		.x.axis line {
					  stroke: lightgrey;
					}


		.line {
		  fill: none;
		  stroke: steelblue;
		  stroke-width: 1.5px;
		}


		</style>

</head>

<body>

	<div class="container-fluid">

		<div class="row-fluid">
			<div class="span2"><img src="../static/images/tesco-logo.jpg" alt="Tesco" style="padding:10px 10px; height:50px"></div>
			<div class="span4"><h1>Your Health</h1></div>
		</div>
		<div class="row-fluid">
    		<div class="span3">
				<h4>Foods BreakDown (All Time):</h4>
			</div>
		</div>
		<div class="row-fluid">
    		<div class="span3">
				<div id="chart1"></div>
		    <script src="http://d3js.org/d3.v2.min.js"></script>
		    <script>
				function renderChart1() {

				//var data = d3.csv.parse(d3.select('#csv').text());
				var data = {{ allTimeItems|safe }};
				var valueLabelWidth = 60; // space reserved for value labels (right)
				var barHeight = 20; // height of one bar
				var barLabelWidth = 170; // space reserved for bar labels
				var barLabelPadding = 5; // padding between bar and bar labels (left)
				var gridLabelHeight = 18; // space reserved for gridline labels
				var gridChartOffset = 3; // space between start of grid and first bar
				var maxBarWidth = 420; // width of the bar with the max value

				// accessor functions
				var barLabel = function(d) { return d['health']; };
				var barValue = function(d) { return parseFloat(d['score']); };
				var barColour = function(d) { return d['colour'];};

				// sorting
				//var sortedData = data.sort(function(a, b) {
				// return d3.descending(barValue(a), barValue(b));
				//});

				// scales
				var yScale = d3.scale.ordinal().domain(d3.range(0, data.length)).rangeBands([0, data.length * barHeight]);
				var y = function(d, i) { return yScale(i); };
				var yText = function(d, i) { return y(d, i) + yScale.rangeBand() / 2; };
				var x = d3.scale.linear().domain([0, 100]).range([0, maxBarWidth]);
				// svg container element
				var chart = d3.select('#chart1').append("svg")
				  .attr('width', maxBarWidth + barLabelWidth + valueLabelWidth)
				  .attr('height', gridLabelHeight + gridChartOffset + data.length * barHeight);
				// grid line labels
				var gridContainer = chart.append('g')
				  .attr('transform', 'translate(' + barLabelWidth + ',' + gridLabelHeight + ')');
				gridContainer.selectAll("text").data(x.ticks(10)).enter().append("text")
				  .attr("x", x)
				  .attr("dy", -3)
				  .attr("text-anchor", "middle")
				  .text(String);
				// vertical grid lines
				gridContainer.selectAll("line").data(x.ticks(10)).enter().append("line")
				  .attr("x1", x)
				  .attr("x2", x)
				  .attr("y1", 0)
				  .attr("y2", yScale.rangeExtent()[1] + gridChartOffset)
				  .style("stroke", "#ccc");
				// bar labels
				var labelsContainer = chart.append('g')
				  .attr('transform', 'translate(' + (barLabelWidth - barLabelPadding) + ',' + (gridLabelHeight + gridChartOffset) + ')');
				labelsContainer.selectAll('text').data(data).enter().append('text')
				  .attr('y', yText)
				  .attr('stroke', 'none')
				  .attr('fill', 'black')
				  .attr("dy", ".35em") // vertical-align: middle
				  .attr('text-anchor', 'end')
				  .text(barLabel);
				// bars
				var barsContainer = chart.append('g')
				  .attr('transform', 'translate(' + barLabelWidth + ',' + (gridLabelHeight + gridChartOffset) + ')');
				barsContainer.selectAll("rect").data(data).enter().append("rect")
				  .attr('y', y)
				  .attr('height', yScale.rangeBand())
				  .attr('width', function(d) { return x(barValue(d)); })
				  .attr('stroke', 'white')
				  //.attr('fill', 'steelblue');
				  .attr('fill', function(d) { return barColour(d); });
				// bar value labels
				barsContainer.selectAll("text").data(data).enter().append("text")
				  .attr("x", function(d) { return x(barValue(d)); })
				  .attr("y", yText)
				  .attr("dx", 3) // padding-left
				  .attr("dy", ".35em") // vertical-align: middle
				  .attr("text-anchor", "start") // text-align: right
				  .attr("fill", "black")
				  .attr("stroke", "none")
				  .text(function(d) { return d3.round(barValue(d), 2); });
				// start line
				barsContainer.append("line")
				  .attr("y1", -gridChartOffset)
				  .attr("y2", yScale.rangeExtent()[1] + gridChartOffset)
				  .style("stroke", "#000");

				}
				    </script>
		    	<script>renderChart1();</script>
		    </div>

			</div>

			<div class="row-fluid">
    			<div class="span3">
					<h4>Foods BreakDown (Last Month):</h4>
				</div>
			</div>
			<div class="row-fluid">
    		<div class="span3">
    		<div id="chart2"></div>
		    <script>
				function renderChart2() {

				//var data = d3.csv.parse(d3.select('#csv').text());
				var data = {{ lastMonth|safe }};
				var valueLabelWidth = 60; // space reserved for value labels (right)
				var barHeight = 20; // height of one bar
				var barLabelWidth = 170; // space reserved for bar labels
				var barLabelPadding = 5; // padding between bar and bar labels (left)
				var gridLabelHeight = 18; // space reserved for gridline labels
				var gridChartOffset = 3; // space between start of grid and first bar
				var maxBarWidth = 420; // width of the bar with the max value

				// accessor functions
				var barLabel = function(d) { return d['health']; };
				var barValue = function(d) { return parseFloat(d['score']); };
				var barColour = function(d) { return d['colour'];};

				// sorting
				//var sortedData = data.sort(function(a, b) {
				// return d3.descending(barValue(a), barValue(b));
				//});

				// scales
				var yScale = d3.scale.ordinal().domain(d3.range(0, data.length)).rangeBands([0, data.length * barHeight]);
				var y = function(d, i) { return yScale(i); };
				var yText = function(d, i) { return y(d, i) + yScale.rangeBand() / 2; };
				var x = d3.scale.linear().domain([0, 100]).range([0, maxBarWidth]);
				// svg container element
				var chart = d3.select('#chart2').append("svg")
				  .attr('width', maxBarWidth + barLabelWidth + valueLabelWidth)
				  .attr('height', gridLabelHeight + gridChartOffset + data.length * barHeight);
				// grid line labels
				var gridContainer = chart.append('g')
				  .attr('transform', 'translate(' + barLabelWidth + ',' + gridLabelHeight + ')');
				gridContainer.selectAll("text").data(x.ticks(10)).enter().append("text")
				  .attr("x", x)
				  .attr("dy", -3)
				  .attr("text-anchor", "middle")
				  .text(String);
				// vertical grid lines
				gridContainer.selectAll("line").data(x.ticks(10)).enter().append("line")
				  .attr("x1", x)
				  .attr("x2", x)
				  .attr("y1", 0)
				  .attr("y2", yScale.rangeExtent()[1] + gridChartOffset)
				  .style("stroke", "#ccc");
				// bar labels
				var labelsContainer = chart.append('g')
				  .attr('transform', 'translate(' + (barLabelWidth - barLabelPadding) + ',' + (gridLabelHeight + gridChartOffset) + ')');
				labelsContainer.selectAll('text').data(data).enter().append('text')
				  .attr('y', yText)
				  .attr('stroke', 'none')
				  .attr('fill', 'black')
				  .attr("dy", ".35em") // vertical-align: middle
				  .attr('text-anchor', 'end')
				  .text(barLabel);
				// bars
				var barsContainer = chart.append('g')
				  .attr('transform', 'translate(' + barLabelWidth + ',' + (gridLabelHeight + gridChartOffset) + ')');
				barsContainer.selectAll("rect").data(data).enter().append("rect")
				  .attr('y', y)
				  .attr('height', yScale.rangeBand())
				  .attr('width', function(d) { return x(barValue(d)); })
				  .attr('stroke', 'white')
				  //.attr('fill', 'steelblue');
				  .attr('fill', function(d) { return barColour(d); });
				// bar value labels
				barsContainer.selectAll("text").data(data).enter().append("text")
				  .attr("x", function(d) { return x(barValue(d)); })
				  .attr("y", yText)
				  .attr("dx", 3) // padding-left
				  .attr("dy", ".35em") // vertical-align: middle
				  .attr("text-anchor", "start") // text-align: right
				  .attr("fill", "black")
				  .attr("stroke", "none")
				  .text(function(d) { return d3.round(barValue(d), 2); });
				// start line
				barsContainer.append("line")
				  .attr("y1", -gridChartOffset)
				  .attr("y2", yScale.rangeExtent()[1] + gridChartOffset)
				  .style("stroke", "#000");

				}
				    </script>
		    	<script>renderChart2();</script>
		    </div>

			</div>

			<div class="row-fluid">
    		<div class="span3">
				<h4>Foods BreakDown (Most Recent Basket):</h4>
				<div id="chart3"></div>
		    <script>
				function renderChart3() {

				//var data = d3.csv.parse(d3.select('#csv').text());
				var data = {{ mostRecentShop|safe }};
				var valueLabelWidth = 60; // space reserved for value labels (right)
				var barHeight = 20; // height of one bar
				var barLabelWidth = 170; // space reserved for bar labels
				var barLabelPadding = 5; // padding between bar and bar labels (left)
				var gridLabelHeight = 18; // space reserved for gridline labels
				var gridChartOffset = 3; // space between start of grid and first bar
				var maxBarWidth = 420; // width of the bar with the max value

				// accessor functions
				var barLabel = function(d) { return d['health']; };
				var barValue = function(d) { return parseFloat(d['score']); };
				var barColour = function(d) { return d['colour'];};

				// sorting
				//var sortedData = data.sort(function(a, b) {
				// return d3.descending(barValue(a), barValue(b));
				//});

				// scales
				var yScale = d3.scale.ordinal().domain(d3.range(0, data.length)).rangeBands([0, data.length * barHeight]);
				var y = function(d, i) { return yScale(i); };
				var yText = function(d, i) { return y(d, i) + yScale.rangeBand() / 2; };
				var x = d3.scale.linear().domain([0, 100]).range([0, maxBarWidth]);
				// svg container element
				var chart = d3.select('#chart3').append("svg")
				  .attr('width', maxBarWidth + barLabelWidth + valueLabelWidth)
				  .attr('height', gridLabelHeight + gridChartOffset + data.length * barHeight);
				// grid line labels
				var gridContainer = chart.append('g')
				  .attr('transform', 'translate(' + barLabelWidth + ',' + gridLabelHeight + ')');
				gridContainer.selectAll("text").data(x.ticks(10)).enter().append("text")
				  .attr("x", x)
				  .attr("dy", -3)
				  .attr("text-anchor", "middle")
				  .text(String);
				// vertical grid lines
				gridContainer.selectAll("line").data(x.ticks(10)).enter().append("line")
				  .attr("x1", x)
				  .attr("x2", x)
				  .attr("y1", 0)
				  .attr("y2", yScale.rangeExtent()[1] + gridChartOffset)
				  .style("stroke", "#ccc");
				// bar labels
				var labelsContainer = chart.append('g')
				  .attr('transform', 'translate(' + (barLabelWidth - barLabelPadding) + ',' + (gridLabelHeight + gridChartOffset) + ')');
				labelsContainer.selectAll('text').data(data).enter().append('text')
				  .attr('y', yText)
				  .attr('stroke', 'none')
				  .attr('fill', 'black')
				  .attr("dy", ".35em") // vertical-align: middle
				  .attr('text-anchor', 'end')
				  .text(barLabel);
				// bars
				var barsContainer = chart.append('g')
				  .attr('transform', 'translate(' + barLabelWidth + ',' + (gridLabelHeight + gridChartOffset) + ')');
				barsContainer.selectAll("rect").data(data).enter().append("rect")
				  .attr('y', y)
				  .attr('height', yScale.rangeBand())
				  .attr('width', function(d) { return x(barValue(d)); })
				  .attr('stroke', 'white')
				  //.attr('fill', 'steelblue');
				  .attr('fill', function(d) { return barColour(d); });
				// bar value labels
				barsContainer.selectAll("text").data(data).enter().append("text")
				  .attr("x", function(d) { return x(barValue(d)); })
				  .attr("y", yText)
				  .attr("dx", 3) // padding-left
				  .attr("dy", ".35em") // vertical-align: middle
				  .attr("text-anchor", "start") // text-align: right
				  .attr("fill", "black")
				  .attr("stroke", "none")
				  .text(function(d) { return d3.round(barValue(d), 2); });
				// start line
				barsContainer.append("line")
				  .attr("y1", -gridChartOffset)
				  .attr("y2", yScale.rangeExtent()[1] + gridChartOffset)
				  .style("stroke", "#000");

				}
				    </script>
		    	<script>renderChart3();</script>

		    </div>

			</div>

		<div class="row-fluid">
    		<div class="span3">
				<h4>Health Points Graph:</h4>
				<div id="chart4"></div>

			<script>

			//var parseDate = d3.time.format("%d-%b-%y").parse;

			var parseDate = d3.time.format("%Y-%m-%d").parse;


			var margin = {top: 20, right: 20, bottom: 30, left: 50},
			    width = 500 - margin.left - margin.right,
			    height = 300 - margin.top - margin.bottom;

			var x = d3.time.scale().range([0, width]);

			//var x = d3.scale.linear()
			//    .range([0, width]);

			var y = d3.scale.linear()
			    .range([height, 0]);

			//var xAxis = d3.svg.axis()
			//    .scale(x)
			//    .orient("bottom");

			var xAxis = d3.svg.axis().scale(x)
    			.orient("bottom").ticks(5)
    			.tickFormat(d3.time.format("%Y-%m-%d"));

			var yAxis = d3.svg.axis()
			    .scale(y)
			    .orient("left");

			var demLine = d3.svg.line()
			    .x(function(d) { return x(d.dtg); })
			    .y(function(d) { return y(d.demZ); });

			var flightLine = d3.svg.line()
			    .x(function(d) { return x(d.dtg); })
			    .y(function(d) { return y(d.flightZ); });

			var svg = d3.select("#chart4").append("svg")
			    .attr("width", width + margin.left + margin.right)
			    .attr("height", height + margin.top + margin.bottom)
			  .append("g")
			    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

			var data = {{ allOutput|safe }}
			data.forEach(function(d) {
					d.dtg = parseDate(d.dtg);
					document.write(d.dtg);
					d.demZ = d.demZ;
					d.flightZ = d.flightZ;
				});

			//var area = d3.svg.area()
			//    .interpolate("cardinal")
			//    .x(function (d) { return x(d.dtg); })
			//    .y0(function (d) { return y(d3.min(data, function(d) { return Math.min(d.demZ, d.flightZ);})) })
			//    .y1(function (d) { return y(d.demZ); });


			x.domain(d3.extent(data, function(d) { return d.dtg; }))
			y.domain([d3.min(data, function(d) { return Math.min(d.demZ, d.flightZ); }), d3.max(data, function(d) { return Math.max(d.demZ, d.flightZ); })]);


			svg.append("path")
			    .datum(data)
			    .attr("class", "line")
			    <!--.attr("d", function (d) { return area(data); })-->
			    <!--.style("stroke", "grey")-->
			    <!--.style("fill", "green");-->
			    .style("stroke", "green")
			    .attr("d", demLine);

			svg.append("path")
			    .datum(data)
			    .attr("class", "line")
			    .style("stroke", "red")
			    .attr("d", flightLine);

			//svg.append("g")			// Add the X Axis
			//	.attr("class", "x axis")
			//	.attr("transform", "translate(0," + height + ")")
			//	.call(xAxis);


			// Add the X Axis
		    svg.append("g")
		        .attr("class", "x axis")
		        .attr("transform", "translate(0," + height + ")")
		        .call(xAxis);

			//svg.append("g")
			//    .attr("class", "x axis")
			//    .attr("transform", "translate(0," + height + ")")
			//    .call(xAxis)
			//    .append("text")
			//    .attr("x", width-margin.right-margin.right-90)
			//    .attr("dx", ".71em")
			//   .style("text-anchor", "end");
			    //.text("Time");

			svg.append("g")
			    .attr("class", "y axis")
			    .call(yAxis)
			    .append("text")
			    .attr("transform", "rotate(-90)")
			    .attr("y", 6)
			    .attr("dy", ".71em")
			    .style("text-anchor", "end")
			    .text("Health Points");


			svg.append("text")
				.attr("transform", "translate(" + (width+3) + "," + y(data[0].dtg) + ")")
				.attr("dy", ".35em")
				.attr("text-anchor", "start")
				.style("fill", "steelblue")
				.text("Close");

			</script>

	</div>
     </div>

</body>

<!--
<body>
    <h1>Flask-SocketIO Test</h1>

    <button onclick="start_processor()">Start Processor</button>

    <h2>Receive:</h2>
    <div id="log"></div>
	<div id="map"></div>


</body>
-->
</html>
